@font-face {
    font-family: "Montserrat-SB";
    src: url("../../assets/font/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    src: url("../../assets/font/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Allura";
    src: url("../../assets/font/Allura-Regular.woff") format("woff");
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}

.header-logo {    
    width: 141px;
    height: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 82px;
    border-radius: 12px;
}

.header-logo-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.logo-icon {
    margin: 8px 8px 8px 20px;
}

.text-logo {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #181C29;
    margin-right: 20px;
    width: 69px;
}

.header-nav {
    width: 1123px;
    display: flex;
    justify-content: flex-end;
    margin-left: 12px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 0;
}

.nav-item {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #181C29;
    text-decoration: none;
    transition: all 0.5s;
}

.nav-gifts,
.nav-about,
.nav-best {
    margin-right: 8px;
}
.nav-footer {
    margin-right: 0;
}

.header-logo:hover .text-logo {
    cursor: pointer;
}

.nav-item:hover {
    background-color: rgba(255, 70, 70, 0.1);
    color: #ff4646;
}

.header-burger {
    display: none;
    width: 40px;
    height: 40px;
    position: relative;
}

.burger-line {
    display: block;
    width: 20px;
    height: 1px;
    background-color: #181c29;
    position: absolute;
}

.burger-line:first-child {
    top: 16px;
    left: 10px
}

.burger-line:last-child {
    bottom: 16px;
    left: 10px;
}

.hero {
    padding-block: 60px;
    background-color: #ff4646;
    background-image:url("../../images/bg-snow.png"), url("../../images/bg-ball.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
}

.hero-container {
    display: flex;
    justify-content: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 426px;
    row-gap: 12px;
    padding: 60px 0;
}

.hero-text {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
}

.hero-title {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    max-width: 426px;
    margin-top: 0;
    margin-bottom: 0;
}

.button-explore {
    text-decoration: none;
    padding: 20px 32px;
    background-color: #181C29;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffffff;  
    transition: all 0.7s;
}

.button-explore:hover {
    background-color: #ffffffff;
    color: #181C29;
    cursor: pointer;
}

.about {
    max-width: 1440px;
    background-color: #FF4646;
    background-image:url("../../images/bg-snow.png");
    background-size: cover, contain, auto;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 82px;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1276px;
    background-color: #ffffffff;
    border-radius: 20px;
}

.about-text-content {
    display: flex;
    flex-direction: column;
    padding: 100px 60px;
}

.about-image-container{
    background-image: url("../../images/santa.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 528px;
    border-radius: 20px;
}

.about-text-container {
    padding-block: 60px;
    max-width: 426px;
    row-gap: 20px;
}

.about-name-content {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #FF4646;
    margin: 0;
}

.about-title {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #181C29;
}

.about-text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 23.68px;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 0;
}

.slider {
    max-width: 1440px;
    padding: 60px 82px;
    background-color: #ff4646;
    background-image:url("../../images/bg-snow.png");
    background-size: cover, contain, auto;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.slider-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-slides {
    display: flex;
    flex-direction: row;
}

.slider-text {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #ffffffff;
    margin-top: 0;
    margin-bottom: 12px;
}

.slider-header {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #ffffffff;
    margin-top: 0;
    margin-bottom: 20px;
}

.slider-slides-text {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 80px;
    text-transform: uppercase;
    color: #ffffffff;
    margin-top: 51px;
    margin-right: 20px;
    flex-shrink: 0;
}

.slider-slides-image {
    border-radius: 20px;
    margin-right: 20px;
    flex-shrink: 0;
}

.slider-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
}

.button-left {
    border: 1px solid #ffffff66;
    background-color: transparent;
    border-radius: 20px;
    width: 56px;
    height: 56px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-right {
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 20px;
    width: 56px;
    height: 56px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.7s;
}

.arrow-left {
    width: 14px;
    height: 14px;
    stroke: #ffffff66;
}

.arrow-right {
    width: 14px;
    height: 14px;
    stroke: #ffffff;
    transition: all 0.7s;
}

.button-right {
    margin-left: 20px;
}

.button-right:hover {
    background-color: #ffffff;
}

.button-right:hover .arrow-right{
    stroke: #FF4646;
}

.best-gifts {
    padding: 60px 82px;
    max-width: 1440px;
    background-color: #FF4646;
    background-image:url("../../images/bg-snow.png");
    background-size: cover, contain, auto;
    background-repeat: no-repeat;
    background-position: center;
}

.best-gft-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best-gft-text {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #ffffffff;
    margin-top: 0;
    margin-bottom: 12px;
}

.best-gft-title {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #ffffffff;
    margin-top: 0;
    margin-bottom: 20px;
}

.best-gft-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 12px;
}

.best-gft-card {
    max-width: 310px;
    border-radius: 20px;
    background-color: #ECF3F8;
}

.best-gft-card-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.best-gft-image {
    width: 310px;
    height: 230px;
}

.best-gft-card-txt {
    max-height: 112px;
    background-color: #ffffffff;
    border-radius: 20px;
    padding-left: 20px;
}

.card-for-work {
    color: #4361FF;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 8px;
}

.card-for-health {
    color: #06A44F;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 8px;
}

.card-for-harmony {
    color: #FF43F7;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 8px;
}

.card-text {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 16px;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #181C29;
    margin-top: 0px;
    margin-bottom: 44px;
    transition: all 0.5s;
}

.best-gft-card:hover {
    cursor: pointer;
}

.best-gft-card:hover .card-text {
    color: #ff4646;
}

.cta {
    padding-block: 60px;
    max-width: 1440px;
    background-color: #FF4646;
    background-image:url("../../images/bg-snow.png"), url("../../images/bg-forest.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 0 20px 20px;
}

.cta-content {
    padding-block: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-header {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffffff;
    max-width: 426px;
    margin-top: 0;
    margin-bottom: 20px;
}

.cta-text {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #ffffffff;
    margin-top: 20px;
    margin-bottom: 8px;
}

.cta-timer {
    display: flex;
    flex-direction: row;
    width: 344px;
    height: 72px;
    background-color: #FFFFFF66;
    border-radius: 20px;
}

.cta-cell {
    width: 80px;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-cell:first-child {
    margin-left: 12px;
    position: relative;
}

.cta-cell:first-child::before {
    content: '';
    position: absolute;
    top: 24px;
    right: -1px;
    transform: translateX(-50%);
    width: 1px;
    height: 20px;
    background-color:  #ffffff66;
}

.cta-cell:nth-child(2) {
    position: relative;
}

.cta-cell:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 24px;
    right: -1px;
    transform: translateX(-50%);
    width: 1px;
    height: 20px;
    background-color:  #ffffff66;
}

.cta-cell:nth-child(3) {
    position: relative;
}

.cta-cell:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 24px;
    right: -1px;
    transform: translateX(-50%);
    width: 1px;
    height: 20px;
    background-color:  #ffffff66;
}

.cta-number {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 35.48px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin-top: 8px;
    margin-bottom: 0;
}

.cta-time {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 12px;
}

.footer {
    padding: 60px 82px;
    background-color: #ffffff;
}

.footer-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(417px, 1fr));
    align-items: center;
    gap: 12px;
    margin-bottom: 60px;
}

.footer-card {
    padding: 20px;
    background-color: #ECF3F8;
    border-radius: 20px;
}

.call-us-link,
.meet-us-link,
.write-us-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.footer-card-img {
    margin-bottom: 12px;
}

.footer-card-text {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 12px;
    transition: all 0.5s;
}

.footer-card-header {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 16px;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.5s;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.socials {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.socials:last-child {
    margin-right: 0;
}

.socials-icons {
    margin: 8px;
    stroke: #181C29;
    transition: all 0.5s;
}

.copyright {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 23.68px;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 12px;
}

.made-in-rs {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #181C29;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.5s;
}

.footer-card:hover {
    cursor: pointer;
}

.footer-card:hover .footer-card-text {
    color: #ff4646;
}

.footer-card:hover .footer-card-header {
    color: #ff4646;
}

.socials:hover {
    cursor: pointer;
}

.socials:hover .socials-icons {
    stroke: #ff4646;
}

.made-in-rs:hover {
    cursor: pointer;
    color: #ff4646;
}    

@media screen and (max-width: 1310px) {
    .best-gft-cards {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media screen and (max-width: 1225px) {
    .header-logo {
        margin-left: 30px;
    }

    .about {
        padding: 60px 30px;
    }

    .about-text-content {
        padding: 50px 60px;
    }

    .slider {
        padding: 60px 30px;
    }

    .footer {
        padding: 60px 30px;
    }
    
}

@media screen and (max-width: 900px) {
    .header-logo {
        margin-left: 15px;
    }

    .about {
        padding: 60px 15px;
    }

    .about-text-content {
        padding: 46px 60px;
    }

    .slider {
        padding: 60px 15px;
    }

}

@media screen and (max-width: 796px){
    .best-gifts {
        padding: 60px 68px;
    }
}

@media screen and (max-width: 768px) {
    .header-burger {
        display: block;
        margin-top: 12px;
        margin-right: 8px;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-logo {
        margin-left: 8px;
    }

    .header-nav {
      display: none;
    }

    .about {
    padding: 60px 8px;        
    }

    .about-text-content {
        padding: 46px 60px;
    }

    .slider {
        padding: 60px 8px;
    }

    .best-gifts {
        padding: 60px 68px;
    }

    .footer {
        padding: 60px 8px;
    }
}

@media screen and (max-width: 767px) {
    .best-gft-cards {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@media screen and (max-width: 690px) {
    .about-content {
        grid-template-columns: repeat(auto-fit, minmax(364px, 1fr))
    }

    .about-text-content {
        padding: 0 20px;
    }
}

@media screen and (max-width: 478px) {
    .best-gifts {
        padding: 60px 8px;
    }

    .best-gft-cards {
        padding: 0 27px;
    }

    .footer-card {
        padding: 20px 0;
    }
}

@media screen and (max-width: 420px) {
    .footer-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
    }
}