@font-face {
    font-family: "Montserrat-SB";
    src: url("/christmas-shop/assets/font/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    src: url("/christmas-shop/assets/font/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Allura";
    src: url("/christmas-shop/assets/font/Allura-Regular.woff") format("woff");
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    width: 1440px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 82px;
    border-radius: 12px;
    height: 40px;
    cursor: pointer;
}

.logo-icon {
    margin: 8px 8px 8px 20px;
}

.text-logo {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #181C29;
    margin-right: 20px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.nav-item {
    padding: 12px 20px;
    border-radius: 12px;
    cursor: pointer;
}

.nav-item:nth-child(1),
.nav-item:nth-child(2),
.nav-item:nth-child(3) {
    margin-right: 8px;
}

.nav-item:last-child {
    margin-right: 82px;
}

.nav-link {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #181C29;
    text-decoration: none;
}

.nav-item:hover {
    background-color: rgba(255, 70, 70, 0.1);
}

.nav-item:hover .nav-link {
    color: #FF4646;
}

.hero {
    width: 1440px;
    height: 524px;
    background-color: #FF4646;
    background-image:url("/christmas-shop/images/bg-snow.png"), url("/christmas-shop/images/bg-ball.png");
    background-size: cover, contain, auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px 0 0;
    padding-top: 60px;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 426px;
    padding: 40px 507px;
}

.hero-text {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.hero-text:first-child {
    margin-top: 60px;
    margin-bottom: 12px;
}

.hero-title {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 12px;
}

.button-explore {
    background-color: #181C29;
    padding: 20px 32px;
    border-radius: 20px;
    border: none;
}

.button-explore-txt {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #FFFFFFFF;  
}

.hero-text:last-child {
    margin-top: 12px;
 
    text-align: center;
    color: #FFFFFFFF;
}

.button-container:hover .button-explore {
    background-color: #FFFFFFFF;
}

.button-container:hover .button-explore-txt {
    color: #181C29;
}

.about {
    width: 1440px;
    height: 648px;
    background-color: #FF4646;
    background-image:url("/christmas-shop/images/bg-snow.png");
    background-size: cover, contain, auto;
    background-repeat: no-repeat;
    background-position: center;
    
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1276px;
    height: 528px;
    background-color: #FFFFFFFF;
    border-radius: 20px;
    margin-left: 82px;
}

.about-text-content {
    display: flex;
    flex-direction: column;
    width: 426px;
    margin-left: 60px;
}

.about-name-content {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #FF4646;
    margin-top: 160px;
    margin-bottom: 20px;
}

.about-title {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 20px;
}

.about-text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 160px;
}

.about-image {
    border-radius: 20px;
}

.slider {
    width: 1440px;
    height: 488px;
    background-color: #FF4646;
    background-image:url("/christmas-shop/images/bg-snow.png");
    background-size: cover, contain, auto;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-slides {
    width: 1993px;
    height: 200px;
    display: flex;
    flex-direction: row;
    margin-left: 82px;
}

.slider-text {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #FFFFFFFF;
    margin-top: 60px;
    margin-bottom: 12px;
}

.slider-header {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #FFFFFFFF;
    margin-top: 0;
    margin-bottom: 20px;
}

.slider-slides-text {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 80px;
    text-transform: uppercase;
    color: #FFFFFFFF;
    margin-top: 51px;
    margin-right: 20px;
}

.slider-slides-image {
    border-radius: 20px;
    margin-right: 20px;
}

.slider-buttons {
    width: 1276px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
    margin-left: 82px;
}

.button-right,
.button-left {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    border-radius: 20px;
    width: 56px;
    height: 56px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-right,
.arrow-left {
    width: 14px;
    height: 14px;
    stroke: #FFFFFF;
}

.button-left {
    margin-left: 20px;
}

.button-right:hover,
.button-left:hover {
    background-color: #FFFFFF;
}

.button-right:hover .arrow-right{
    stroke: #FF4646;
}

.button-left:hover .arrow-left{
    stroke: #FF4646;
}

.best-gifts {
    width: 1440px;
    height: 554px;
    background-color: #FF4646;
    background-image:url("/christmas-shop/images/bg-snow.png");
    background-size: cover, contain, auto;
    background-repeat: no-repeat;
    background-position: center;
}

.best-gft-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best-gft-text {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #FFFFFFFF;
    margin-top: 60px;
    margin-bottom: 12px;
}

.best-gft-title {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #FFFFFFFF;
    margin-top: 0;
    margin-bottom: 20px;
}

.best-gft-cards {
    display: flex;
    flex-direction: row;
    margin-left: 82px;
}

.best-gft-card {
    width: 310px;
    height: 342px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ECF3F8;
    margin-right: 12px;
}

.best-gft-card:last-child {
    margin-right: 0;
}

.best-gft-image {
    width: 310px;
    height: 230px;
}

.best-gft-card-txt {
    height: 112px;
    background-color: #FFFFFFFF;
    border-radius: 20px;
    padding-left: 20px;
}

.card-for-work {
    color: #4361FF;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 8px;
}

.card-for-health {
    color: #06A44F;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 8px;
}

.card-for-harmony {
    color: #FF43F7;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 8px;
}

.card-text {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #181C29;
    margin-top: 0px;
    margin-bottom: 44px;
}

.best-gft-card:hover {
    cursor: pointer;
}

.best-gft-card:hover .card-text {
    color: #ff4646;
}

.cta {
    width: 1440px;
    height: 668px;
    background-color: #FF4646;
    background-image:url("/christmas-shop/images/bg-snow.png"), url("/christmas-shop/images/bg-forest.png");
    background-size: cover, contain, auto;
    background-repeat: no-repeat;
    background-position: center;
}

.cta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-header {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFFFF;
    width: 426px;
    height: 108px;
    margin-top: 180px;
    margin-bottom: 20px;
}

.cta-timer {
    display: flex;
    flex-direction: row;
}

.cta-text {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #FFFFFFFF;
    margin-top: 20px;
    margin-bottom: 8px;
}

.cta-timer {
    width: 344px;
    height: 72px;
    background-color: #FFFFFF66;
    border-radius: 20px;
}

.cta-cell {
    width: 80px;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-number {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 35.48px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin-top: 8px;
    margin-bottom: 0;
}

.cta-time {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 12px;
}

.separator {
    width: 20px;
    height: 0;
    border: 1px solid #FFFFFF66;
    transform: rotate(90deg);
    margin-top: 30px;
}

.footer {
    width: 1440px;
    height: 496px;
    background-color: #ffffff;
}

.footer-cards {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-left: 82px;
    margin-right: 82px;
}

.footer-card {
    width: 417px;
    height: 204px;
    background-color: #ECF3F8;
    border-radius: 20px;
    margin-right: 12px;
}

.footer-card:last-child {
    margin-right: 0;
}

.call-us-link,
.meet-us-link,
.write-us-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.footer-card-img {
    margin-top: 20px;
    margin-bottom: 12px;
}

.footer-card-text {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 12px;
}

.footer-card-header {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 16px;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 20px;
}

.footer-contacts {
    width: 1276px;
    height: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-left: 82px;
}

.socials-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.socials {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.socials:last-child {
    margin-right: 0;
}

.socials-icons {
    margin: 8px;
    stroke: #181C29;
}

.copyright {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 23.68px;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 12px;
}

.made-in-rs {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 60px;
}

.footer-card:hover {
    cursor: pointer;
}

.footer-card:hover .footer-card-text {
    color: #FF4646;
}

.footer-card:hover .footer-card-header {
    color: #FF4646;
}

.socials:hover {
    cursor: pointer;
}

.socials:hover .socials-icons {
    stroke: #ff4646;
}

.made-in-rs:hover {
    cursor: pointer;
    color: #ff4646;
}