@font-face {
    font-family: "Montserrat-SB";
    src: url("../../assets/font/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    src: url("../../assets/font/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Allura";
    src: url("../../assets/font/Allura-Regular.woff") format("woff");
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    width: 1440px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
}

.header-logo {    
    width: 141px;
    height: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 82px;
    border-radius: 12px;
}

.header-logo-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.logo-icon {
    margin: 8px 8px 8px 20px;
}

.text-logo {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #181C29;
    margin-right: 20px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.nav-item {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #181C29;
    text-decoration: none;
    transition: all 0.5s;
}

.nav-gifts,
.nav-about,
.nav-best {
    margin-right: 8px;
}
.nav-footer {
    margin-right: 82px;
}

.header-logo:hover .text-logo {
    cursor: pointer;
}

.nav-item:hover {
    background-color: rgba(255, 70, 70, 0.1);
    color: #ff4646;
}

.hero {
    width: 1440px;
    height: 524px;
    background-color: #ff4646;
    background-image:url("../../images/bg-snow.png");
    background-size: cover, contain, auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px 0 0;
    position: relative;
}

.hero-bg-ball {
    width: 1440px;
    height: 524px;
    object-fit: cover;
    position: absolute;
}

.hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 426px;
    padding: 60px 507px;
    z-index: 10;
}

.hero-text {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.hero-text:first-child {
    margin-top: 60px;
    margin-bottom: 12px;
}

.hero-title {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 12px;
}

.button-container {
    margin-top: 12px;
}

.button-explore {
    text-decoration: none;
    width: 235px;
    height: 56px;
    background-color: #181C29;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffffff;  
    transition: all 0.7s;
}

.hero-text:last-child {
    margin-top: 12px;
    text-align: center;
    color: #ffffffff;
}

.button-explore:hover {
    background-color: #ffffffff;
    color: #181C29;
    cursor: pointer;
}

.about {
    width: 1440px;
    height: 648px;
    background-color: #FF4646;
    background-image:url("../../images/bg-snow.png");
    background-size: cover, contain, auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1276px;
    height: 528px;
    background-color: #ffffffff;
    border-radius: 20px;
    margin-left: 82px;
    position: absolute;
    top: 60px;
}

.about-text-content {
    display: flex;
    flex-direction: column;
    width: 426px;
    margin-left: 60px;
}

.about-name-content {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #FF4646;
    margin-top: 160px;
    margin-bottom: 20px;
}

.about-title {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 20px;
}

.about-text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 23.68px;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 160px;
}

.about-image {
    border-radius: 20px;
}

.slider {
    width: 1440px;
    height: 488px;
    background-color: #ff4646;
    background-image:url("../../images/bg-snow.png");
    background-size: cover, contain, auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.slider-content {
    position: absolute;
    top: 60px;
}

.slider-text-content {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-slides {
    width: 1276px;
    height: 200px;
    display: flex;
    flex-direction: row;
    margin-left: 82px;
    overflow: hidden;
}

.slider-text {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #ffffffff;
    margin-top: 0;
    margin-bottom: 12px;
}

.slider-header {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #ffffffff;
    margin-top: 0;
    margin-bottom: 20px;
}

.slider-slides-text {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 80px;
    text-transform: uppercase;
    color: #ffffffff;
    margin-top: 51px;
    margin-right: 20px;
}

.slider-slides-image {
    border-radius: 20px;
    margin-right: 20px;
}

.slider-buttons {
    width: 1276px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
    margin-left: 82px;
}

.button-right,
.button-left {
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 20px;
    width: 56px;
    height: 56px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s;
}

.arrow-right,
.arrow-left {
    width: 14px;
    height: 14px;
    stroke: #ffffff;
    transition: all 0.7s;
}

.button-left {
    margin-left: 20px;
}

.button-right:hover,
.button-left:hover {
    background-color: #ffffff;
}

.button-right:hover .arrow-right{
    stroke: #FF4646;
}

.button-left:hover .arrow-left{
    stroke: #FF4646;
}

.best-gifts {
    width: 1440px;
    height: 554px;
    background-color: #FF4646;
    background-image:url("../../images/bg-snow.png");
    background-size: cover, contain, auto;
    background-repeat: no-repeat;
    background-position: center;
}

.best-gft-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best-gft-text {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #ffffffff;
    margin-top: 60px;
    margin-bottom: 12px;
}

.best-gft-title {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #ffffffff;
    margin-top: 0;
    margin-bottom: 20px;
}

.best-gft-cards {
    display: flex;
    flex-direction: row;
    margin-left: 82px;
}

.best-gft-card {
    width: 310px;
    height: 342px;
    border-radius: 20px;
    background-color: #ECF3F8;
    margin-right: 12px;
}

.best-gft-card-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.best-gft-card:last-child {
    margin-right: 0;
}

.best-gft-image {
    width: 310px;
    height: 230px;
}

.best-gft-card-txt {
    height: 112px;
    background-color: #ffffffff;
    border-radius: 20px;
    padding-left: 20px;
}

.card-for-work {
    color: #4361FF;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 8px;
}

.card-for-health {
    color: #06A44F;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 8px;
}

.card-for-harmony {
    color: #FF43F7;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 8px;
}

.card-text {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 16px;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #181C29;
    margin-top: 0px;
    margin-bottom: 44px;
    transition: all 0.5s;
}

.best-gft-card:hover {
    cursor: pointer;
}

.best-gft-card:hover .card-text {
    color: #ff4646;
}

.cta {
    width: 1440px;
    height: 668px;
    background-color: #FF4646;
    background-image:url("../../images/bg-snow.png"), url("../../images/bg-forest.png");
    background-size: cover, contain, auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 0 20px 20px;
}

.cta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-question {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-header {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffffff;
    width: 426px;
    height: 108px;
    margin-top: 180px;
    margin-bottom: 20px;
}

.cta-timer {
    display: flex;
    flex-direction: row;
}

.cta-text {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #ffffffff;
    margin-top: 20px;
    margin-bottom: 8px;
}

.cta-timer {
    width: 344px;
    height: 72px;
    background-color: #FFFFFF66;
    border-radius: 20px;
}

.cta-cell {
    width: 80px;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-cell:first-child {
    margin-left: 12px;
    position: relative;
}

.cta-cell:first-child::before {
    content: '';
    position: absolute;
    top: 24px;
    right: -1px;
    transform: translateX(-50%);
    width: 1px;
    height: 20px;
    background-color:  #ffffff66;
}

.cta-cell:nth-child(2) {
    position: relative;
}

.cta-cell:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 24px;
    right: -1px;
    transform: translateX(-50%);
    width: 1px;
    height: 20px;
    background-color:  #ffffff66;
}

.cta-cell:nth-child(3) {
    position: relative;
}

.cta-cell:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 24px;
    right: -1px;
    transform: translateX(-50%);
    width: 1px;
    height: 20px;
    background-color:  #ffffff66;
}

.cta-number {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 35.48px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin-top: 8px;
    margin-bottom: 0;
}

.cta-time {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 12px;
}

.footer {
    width: 1440px;
    height: 496px;
    background-color: #ffffff;
}

.footer-content {
    padding: 60px 82px;
}

.footer-cards {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.footer-card {
    width: 417px;
    height: 204px;
    background-color: #ECF3F8;
    border-radius: 20px;
    margin-right: 12px;
}

.footer-card:last-child {
    margin-right: 0;
}

.call-us-link,
.meet-us-link,
.write-us-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.footer-card-img {
    margin-top: 20px;
    margin-bottom: 12px;
}

.footer-card-text {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 12px;
    transition: all 0.5s;
}

.footer-card-header {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 16px;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.footer-contacts {
    width: 1276px;
    height: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.socials-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.socials {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.socials:last-child {
    margin-right: 0;
}

.socials-icons {
    margin: 8px;
    stroke: #181C29;
    transition: all 0.5s;
}

.copyright {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 23.68px;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 12px;
}

.made-in-rs {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #181C29;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.5s;
}

.footer-card:hover {
    cursor: pointer;
}

.footer-card:hover .footer-card-text {
    color: #ff4646;
}

.footer-card:hover .footer-card-header {
    color: #ff4646;
}

.socials:hover {
    cursor: pointer;
}

.socials:hover .socials-icons {
    stroke: #ff4646;
}

.made-in-rs:hover {
    cursor: pointer;
    color: #ff4646;
}

@media (min-width: 1440px) {
    .body {
        width: 100%;
        padding: 0;
    }
}