@font-face {
    font-family: "Montserrat-SB";
    src: url("/christmas-shop/assets/font/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    src: url("/christmas-shop/assets/font/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Allura";
    src: url("/christmas-shop/assets/font/Allura-Regular.woff") format(".woff");
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 82px;
    width: 141px;
}

.logo-icon {
    margin-right: 8px;
    margin-left: 20px;
}

.text-logo {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #181C29;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-item {
    padding: 12px 20px;
}

.nav-item:nth-child(1),
.nav-item:nth-child(2),
.nav-item:nth-child(3) {
    margin-right: 8px;
}

.nav-item:last-child {
    margin-right: 82px;
}

.nav-link {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #181C29;
    text-decoration: none;
}