@font-face {
    font-family: Montserrat-regular;
    src: url("/christmas-shop/assets/font/Montserrat-Regular.woff2") format(".woff2");
}

@font-face {
    font-family: "Montserrat-semibold";
    src: url("/christmas-shop/assets/font/Montserrat-SemiBold.woff2") format(".woff2");
}

@font-face {
    font-family: Allura;
    src: url("/christmas-shop/assets/font/Allura-Regular.woff2") format(".woff2");
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 82px;
    width: 141px;
}

.logo-icon {
    margin-right: 8px;
    margin-left: 20px;
}

.text-logo {
    font-family: "Montserrat-regular";
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #181C29;
    ;

}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}