@font-face {
    font-family: "Montserrat-SB";
    src: url("/christmas-shop/assets/font/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    src: url("/christmas-shop/assets/font/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Allura";
    src: url("/christmas-shop/assets/font/Allura-Regular.woff") format("woff");
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    width: 1440px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 82px;
    border-radius: 12px;
    height: 40px;
    cursor: pointer;
}

.logo-icon {
    margin: 8px 8px 8px 20px;
}

.text-logo {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #181C29;
    margin-right: 20px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.nav-item {
    padding: 12px 20px;
    border-radius: 12px;
    cursor: pointer;
}

.nav-item:nth-child(1),
.nav-item:nth-child(2),
.nav-item:nth-child(3) {
    margin-right: 8px;
}

.nav-item:last-child {
    margin-right: 82px;
}

.nav-link {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #181C29;
    text-decoration: none;
}

.nav-item:hover {
    background-color: rgba(255, 70, 70, 0.1);
}

.nav-item:hover .nav-link {
    color: #FF4646;
}

.hero {
    width: 1440px;
    height: 524px;
    background-color: #FF4646;
    background-image:url("/christmas-shop/images/bg-snow.png"), url("/christmas-shop/images/bg-ball.png");
    background-size: cover, contain, auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px 20px 0 0;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 426px;
    padding: 40px 507px;
}

.hero-text {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.hero-text:first-child {
    margin-top: 60px;
    margin-bottom: 12px;
}

.hero-title {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 12px;
}

.hero-button {
    background-color: #181C29;
    padding: 20px 32px;
    border-radius: 20px;
    border: none;
}

.hero-button-text {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #FFFFFFFF;  
}

.hero-text:last-child {
    margin-top: 12px;
    margin-bottom: 60px;
    text-align: center;
    color: #FFFFFFFF;
}

.hero-button-container:hover .hero-button {
    background-color: #FFFFFFFF;
}

.hero-button-container:hover .hero-button-text {
    color: #181C29;
}

.about {
    width: 1440px;
    height: 648px;
    background-color: #FF4646;
    background-image:url("/christmas-shop/images/bg-snow.png");
    background-size: cover, contain, auto;
    background-repeat: no-repeat;
    background-position: center;
    
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1276px;
    height: 528px;
    background-color: #FFFFFFFF;
    border-radius: 20px;
    margin-left: 82px;
}

.about-text-content {
    display: flex;
    flex-direction: column;
    width: 426px;
    margin-left: 60px;
}

.about-name-content {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #FF4646;
    margin-top: 160px;
    margin-bottom: 20px;
}

.about-title {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 20px;
}

.about-text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 160px;
}

.about-image {
    border-radius: 20px;
}