@font-face {
    font-family: "Montserrat-SB";
    src: url("../../assets/font/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    src: url("../../assets/font/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Allura";
    src: url("../../assets/font/Allura-Regular.woff") format("woff");
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}

.header-logo {    
    width: 141px;
    height: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 82px;
    border-radius: 12px;
}

.header-logo-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.logo-icon {
    margin: 8px 8px 8px 20px;
}

.text-logo {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #181C29;
    margin-right: 20px;
    width: 69px;
}

.header-nav {
    width: 1123px;
    display: flex;
    justify-content: flex-end;
    margin-left: 12px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 0;
}

.nav-gifts {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: rgba(255, 70, 70, 0.1);
    color: #ff4646;
}

.nav-item {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #181C29;
    text-decoration: none;
    transition: all 0.5s;
}

.nav-gifts,
.nav-about,
.nav-best {
    margin-right: 8px;
}

.nav-footer {
    margin-right: 0;
}

.header-logo:hover .text-logo {
    cursor: pointer;
}

.nav-item:hover {
    background-color: rgba(255, 70, 70, 0.1);
    color: #ff4646;
}

.header-burger {
    display: none;
    width: 40px;
    height: 40px;
    position: relative;
}

.burger-line {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #181c29;
    position: absolute;
}

.burger-line:first-child {
    top: 16px;
    left: 10px
}

.burger-line:last-child {
    bottom: 16px;
    left: 10px;
}

.gifts {
    padding: 60px 82px;
    background-color: #ff4646;
    background-image:url("../../images/bg-garland.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.gifts-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gifts-title-container {
    max-width: 426px;
    text-align: center;
    margin-bottom: 20px;
}

.gifts-title {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.gifts-tabs {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.gifts-tab:first-child {
    padding: 12px 20px;
    border-radius: 12px;
    background-color: #ffffff33;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gifts-tab {
    padding: 12px 20px;
    border-radius: 12px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.gifts-tab:last-child {
    margin-right: 0;
}

.gifts-tab-link {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.gifts-tab:hover {
    background-color: #ffffff33;
    cursor: pointer;
}

.gifts-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.best-gft-card {
    max-width: 310px;
    height: 342px;
    border-radius: 20px;
    background-color: #ECF3F8;
}



.gifts-card-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}


.best-gft-image {
    width: 310px;
    height: 230px;
}

.best-gft-card-txt {
    height: 112px;
    background-color: #ffffffff;
    border-radius: 20px;
    padding-left: 20px;
}

.card-for-work {
    color: #4361ff;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 8px;
}

.card-for-health {
    color: #06a44f;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 8px;
}

.card-for-harmony {
    color: #FF43F7;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 8px;
}

.card-text {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 16px;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #181C29;
    margin-top: 0px;
    margin-bottom: 44px;
    transition: all 0.5s;
}

.best-gft-card:hover {
    cursor: pointer;
}

.best-gft-card:hover .card-text {
    color: #ff4646;
}

.footer {
    width: 1440px;
    height: 496px;
    background-color: #ffffff;
}

.footer-content {
    padding: 60px 82px;
}

.footer-cards {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.footer-card {
    width: 417px;
    height: 204px;
    background-color: #ECF3F8;
    border-radius: 20px;
    margin-right: 12px;
}

.footer-card:last-child {
    margin-right: 0;
}

.call-us-link,
.meet-us-link,
.write-us-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.footer-card-img {
    margin-top: 20px;
    margin-bottom: 12px;
}

.footer-card-text {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 12px;
    transition: all 0.5s;
}

.footer-card-header {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 16px;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.footer-contacts {
    width: 1276px;
    height: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.socials-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.socials {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.socials:last-child {
    margin-right: 0;
}

.socials-icons {
    margin: 8px;
    stroke: #181C29;
    transition: all 0.5s;
}

.copyright {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 23.68px;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 12px;
}

.made-in-rs {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #181C29;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.5s;
}

.footer-card:hover {
    cursor: pointer;
}

.footer-card:hover .footer-card-text {
    color: #ff4646;
}

.footer-card:hover .footer-card-header {
    color: #ff4646;
}

.socials:hover {
    cursor: pointer;
}

.socials:hover .socials-icons {
    stroke: #ff4646;
}

.made-in-rs:hover {
    cursor: pointer;
    color: #ff4646;
}

@media screen and (max-width: 768px) {
    .header-burger {
        display: block;
        margin-top: 12px;
        margin-right: 8px;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-logo {
        margin-left: 8px;
    }

    .header-nav {
      display: none;
    }
}

