@font-face {
    font-family: "Montserrat-SB";
    src: url("../../assets/font/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    src: url("../../assets/font/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Allura";
    src: url("../../assets/font/Allura-Regular.woff") format("woff");
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 12px 82px;
}

.header-logo {    
    border-radius: 12px;
    z-index: 15;
}

.header-logo-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.logo-icon {
    margin: 8px 8px 8px 20px;
}

.text-logo {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #181C29;
    margin-right: 20px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.nav-item {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #181C29;
    text-decoration: none;
    transition: all 0.5s;
}

.nav-gifts {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    cursor: default;
    background-color: rgba(255, 70, 70, 0.1);
    color: #ff4646;
}

.nav-gifts,
.nav-about,
.nav-best {
    margin-right: 8px;
}

.nav-footer {
    margin-right: 0;
}

.header-logo:hover .text-logo {
    cursor: pointer;
}

.nav-item:not(:first-child):hover {
    background-color: rgba(255, 70, 70, 0.1);
    color: #ff4646;
}

.header-burger {
    display: none;
    width: 40px;
    height: 40px;
    z-index: 15;
}

.burger-line {
    width: 20px;
    border: solid 1px #181c29;
}

.gifts {
    padding: 60px 82px;
    background-color: #ff4646;
    background-image:url("../../images/bg-garland.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.gft-button-up {
    display: none;
    border: 1px solid #ff4646;
    background-color: #ffffff;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding: 16px;
    position: fixed;
    right: 8px;
    bottom: 8px;
    z-index: 3;
}

.gifts-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gifts-title-container {
    max-width: 426px;
    text-align: center;
    margin-bottom: 20px;
}

.gifts-title {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.gifts-tabs {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.gifts-tab:first-child {
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.gifts-tab {
    padding: 12px 20px;
    border-radius: 12px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
}

.gifts-tab:last-child {
    margin-right: 0;
}

.gifts-tab-link {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.gifts-tab.active {
    cursor: default;
    background-color: #ffffff33;
}

.gift-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.gift-card {
    display: block;
    width: 310px;
    height: 342px;
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
}

.gift-card-image {
    width: 100%;
    height: 230px;
    background-color: #ECF3F8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.gift-card-category {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
}

.gift-card-name {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 16px;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #181C29;
    transition: all 0.5s;
    padding-left: 20px;
}

.gift-card:hover .gift-card-name {
    color: #ff4646;
}

.footer {
    padding: 60px 82px;
    background-color: #ffffff;
}

.footer-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 12px;
    margin-bottom: 60px;
}

.footer-card {
    padding: 20px;
    background-color: #ECF3F8;
    border-radius: 20px;
}

.call-us-link,
.meet-us-link,
.write-us-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.footer-card-img {
    margin-bottom: 12px;
}

.footer-card-text {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 24px;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 12px;
    transition: all 0.5s;
}

.footer-card-header {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 16px;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.5s;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.socials {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.socials:last-child {
    margin-right: 0;
}

.socials-icons {
    margin: 8px;
    stroke: #181C29;
    transition: all 0.5s;
}

.copyright {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 23.68px;
    color: #181C29;
    margin-top: 0;
    margin-bottom: 12px;
}

.made-in-rs {
    font-family: "Allura";
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #181C29;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.5s;
}

.footer-card:hover {
    cursor: pointer;
}

.footer-card:hover .footer-card-text {
    color: #ff4646;
}

.footer-card:hover .footer-card-header {
    color: #ff4646;
}

.socials:hover {
    cursor: pointer;
}

.socials:hover .socials-icons {
    stroke: #ff4646;
}

.made-in-rs:hover {
    cursor: pointer;
    color: #ff4646;
}

body.modal-open {
    overflow: hidden;
}

.modal {
    display: none;
    width: 400px;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: #ECF3F8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.modal.active{
    display: block;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #181C29CC;
    z-index: 15;
    display: none;
    cursor: pointer;
}

.modal-overlay.active {
    display: block;
}

.modal-close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.modal-image {
    width: 100%;
    height: 230px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    background-position: center;
}

.modal-container {
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
}

.modal-text {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.modal-category {
    margin: 0;
}

.modal-name {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 16px;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #181C29;
    margin: 8px 0 8px 0;
}

.modal-description {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 23.68px;
    color: #181C29;
    margin: 0;
}

.modal-superpower{
    background-color: #ffffff;
}

.modal-superpower-header {
    font-family: "Montserrat-SB";
    font-weight: 600;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: bold;
    color: #181C29;
    margin-top: 20px;
    margin-bottom: 8px;
}

.modal-superpower-power {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 23.68px;
    color: #181C29;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.superpower {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
.superpower-name {
    flex-grow: 1;
    text-align: left;
}

.superpower-name::first-letter {
    text-transform: uppercase;
}

.superpower-value,
.superpower-stars {
    text-align: right;
    gap: 12px;
}

.snow-icon {
    width: 16px;
    height: 16px;
}

.snow-icon.filled {
    fill: #FF4646;
}

.snow-icon.empty {
    fill: #FF46461A;
}

@media screen and (max-width: 1439px) {
    .gifts-cards{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1310px) {
    .footer {
        padding: 60px 30px;
    }
}

@media screen and (max-width: 1225px) {
    .header {
        padding: 12px 30px;
    }

    .footer-cards {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1117px) {
    .gifts-cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .header {
        padding: 12px 15px;
    }
}

@media screen and (max-width: 796px){
    .gifts {
        padding: 60px 68px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 12px 8px;
    }

    .header-burger {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column; 
        gap: 8px;
        transition: 0.5s;
    }

    .header-burger.active .burger-line:first-child {
        transform: translateY(5px) rotate(45deg);
        transition: 0.5s;
    }

    .header-burger.active .burger-line:last-child {
        transform: translateY(-5px) rotate(-45deg);
        transition: 0.5s;
    }

    .header-burger .burger-line:first-child {
        transform: translateY(0) rotate(0deg);
        transition: 0.5s;
    }

    .header-burger .burger-line:last-child {
        transform: translateY(0) rotate(0deg);
        transition: 0.5s;
    }

    .header-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: fixed; 
        top: 0;
        right: 0;
        margin: 0;
        background-color: #ffffff;
        transform: translateX(100%);
        z-index: 5;
        transition: all 0.5s ease;
    }

    .header-nav.active {
        transform: translateX(0);
        transition: transform 0.5s ease;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 5;
        width: 100%;
    }

    .nav-item {
        background-color: #ffffff;
        color: #181C29;
        max-width: 202px;
        font-size: 24px;
        line-height: 36.48px;
        letter-spacing: 0.16em;
    }

    .nav-gifts,
    .nav-about,
    .nav-best,
    .nav-footer {
    margin-right: 0;
    margin-bottom: 8px;
    }

    .body-lock {
        overflow: hidden;
    }
    
    .gifts {
        padding: 60px 68px;
    }

    .footer {
        padding: 60px 8px;
    }

    .gft-button-up.visible {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .gifts-cards{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 610px) {
    .gifts {
        padding: 60px 8px;
    }

    .gifts-tab {
        padding: 12px 8px;
        margin-right: 0;
    }
}

@media screen and (max-width: 420px) {
    .footer-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
    }

    .modal {
        width: 364px;
    }
}

@media screen and (max-width: 380px) {
    .gifts-cards {
        padding: 0 27px;
    }
}

@media (hover: none) and (pointer: coarse) {
    .header-logo:hover .text-logo {
        cursor: default;
    }

    .nav-item:hover {
        background-color: #ffffff;
        color: #181C29;
    }

    .gifts-tab:hover {
        background-color: #ff4646;
    }

    .best-gft-card:hover {
        cursor: default;
    }
    
    .best-gft-card:hover .card-text {
        color: #181C29;
    }

    .footer-card:hover {
        cursor: default;
    }
    
    .footer-card:hover .footer-card-text {
        color: #181C29;
    }
    
    .footer-card:hover .footer-card-header {
        color: #181C29;
    }
    
    .socials:hover {
        cursor: default;
    }
    
    .socials:hover .socials-icons {
        stroke: #181C29;
    }
    
    .made-in-rs:hover {
        cursor: default;
        color: #181C29;
    }
}
